.wy-nav-content {
    max-width: 1000px;
}
.wy-table-responsive td:last-child {
    white-space: normal !important;
}

.wy-table-responsive .wrap-rows td {
    white-space: normal !important;
}

.wy-table-responsive .wrap-rows td:last-child {
    white-space: nowrap !important;
}

.required {
    color:red;
}

.toggle .header {
    display: block;
    clear: both;
    margin: -24px 0px 0px 24px;
}

.toggle .header:after {
    content: " ▼";
}

.toggle .header.open:after {
    content: " ▲";
}
